.Footer {
  background: #000000;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  figure {
    text-align: center;
    figcaption {
      color: white;
    }
  }
  .Title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    .Clorit {
      color:#e05344;
    }
  }
  .icon-group {
    display: flex;
    margin-bottom: 20px;
    a {
      text-decoration: none;
    }
  }
  .contact {
    font-family: 'Zilla Slab';
    color: white;
    margin-bottom: 20px;
  }
}

img {
  background: #000000;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url(../asset/font/ZillaSlab.ttf);
}
