.HeaderTemplate {
  background: #000000;
  //height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .Top {
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    .Item {
      margin-left: 2rem;
      margin-right: 2rem;
      display: flex;
      color: #ffffff;
    }
  }

  .Title {
    font-family: Roboto 2;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 10px;
    letter-spacing: 0.15em;

    color: #e05344;
  }
  .Search {
    display: flex;
    input {
      width: 526px;
      height: 30px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
    }
    button {
      cursor: pointer;
      background: #868e96;
      padding-left: 1rem;
      padding-right: 1rem;
      border: #000000;
    }
  }
  .Bottom {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Item {
      font-family: Roboto;
      margin-left: 3rem;
      margin-right: 3rem;
      color: #ffffff;
      &:hover {
        color: #E05344;
      }

    }
  }
  .BottomMenuLayout {
    width: 100%;
    background: #ffffff;
    .BottomMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .Item {
        font-family: Roboto;
        margin-left: 2rem;
        margin-right: 2rem;
        color: #000000;
        &:hover {
          color: #E05344;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.noti {
  cursor: pointer;
}
