.MainLayout {
  min-height: 1080px;
  background: #000000;
  .Main {
    text-align: center;
    .Item {
      img {
        object-fit: none;
      }
      .Bar {
        height: 8rem;
        background: #626060;
      }
    }
  }
}
